@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
 .navbar ul li{
    padding-left: 20px;
 }
 .container{
  max-width: 1180px;
  width: 100%;
  margin:0 auto;
 }
 .navbar a:hover {
  color: #c23625;
}
.navbar a{
  font-weight: 500;
}
img{
  position: relative !important;
}
.idea{
  position: relative;
}
.idea:after {
  content: '';
  position: absolute;
  top: -128px;
  width: 100%;
  height: 108px;
  background: #ffffff;
  left: 0;
  transform: skew(0deg, -4deg);
}
p{
  font-size: 15px;
  color: #6e6e6e;
}
.choose{
  background-color: #efefef;
}
.choose:after {
  content: '';
  position: absolute;
  background: #efefef;
  top: -49px;
  width: 100%;
  height: 108px;
  left: 0;
  transform: skew(0deg, 4deg);
}
.best img{
  margin:0 auto;
  display:block;
}
.videoSection{
  height: 400px;
  overflow: hidden;
}
.feature .container {
  padding: 70px;
  margin-top: -7%;
  z-index: 99;
  position: relative;
  border-radius: 18px;
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 13%);
}
.best {
  background: #efefef;
}


.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.grid-custom {
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  background: #fff;
  padding: 18px;
  border-radius: 23px;
}
.contact-sctn {
  grid-template-columns: auto 1fr;
  gap: 80px;
  margin-top: -10%;
  background: #fff !important;
  z-index: 9;
  position: relative;
  border-radius: 10px;
  padding: 42px;
}
.contact-sctn h3{
  font-size: 28px;
}
.contact-sctn input,.contact-sctn textarea {
  background: #f7f7f7;
  padding: 8px 17px;
  border-radius: 17px;
  font-size: 14px;
}
.contact-sctn textarea {
  width: 100%;
  height: 100px;
  margin-top: 22px;
}
.contact-sctn button {
  margin-top: -5px;
  background: #bc3835;
  color: #fff;
  padding: 9px 31px;
  border-radius: 0px 10px 10px 57px;
  margin-left: auto;
  display: inline-block;
}